.welcome-user {
  text-align: center;
  color: #40231c;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
}

.anml-pix {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: 65px;
  box-shadow: 10px 10px 5px grey;
}

.animal-desc {
  text-align: center;
  margin-left: 30%;
}

.head-desc {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.image-one {
  width: 25%;
  height: 20%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.image-two {
  width: 25%;
  height: 20%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.image-three {
  width: 25%;
  height: 20%;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
