.list-names {
  color: #303030;
  font-style: italic;
  text-align: left;
}

.list-names:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1px;
  width: 100%;
  margin: -20px;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.list-names:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
