.header-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 65%;
  background: #a6a6a6;
  align-items: center;
  justify-content: center;
}

.head-link {
  text-decoration: none;
}

.nav {
  overflow: hidden;
  background-color: #a6a6a6;
  height: 150px;
}

.nav-link {
  /* float: right; */
  color: #40231c;
  background-color: #a6a6a6;
  text-align: right;

  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;
  outline: 0;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
}

.nav-right {
  float: right;
  text-decoration: none;
}

.log-out-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/

  /*input has OS specific font-family*/
  color: #40231c;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}
